body{
    background-color: #f4f1de;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    padding-left:2px;
    padding-right: 20px;
    
}
#heads{
   font-weight: bold;
   color:cadetblue;
}
#pi{
    color:#344e41;
}
