body{
    background-color:#caf0f8;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    padding-left:2px;
    padding-right: 20px;

}
#heads{
    font-weight: bold;
    font-display:inherit;
    color:cadetblue;
}
#Images{
    height: 330px;
    width:286px;
}
#card{
    background-color: #caf0f8;
    border: #caf0f8;
 }
 #card-title{
     font-size: 20px;
     font-weight: bold;
     color:cadetblue;
 }
 #color{
     background-color: yellow;
     color: red;
     font-weight: bold;
 }
 #para{
     color:black;
 }
 strike{
     font-weight: bold;
 }
 #p{
     font-weight: bold;
 }